# 1. Initialize Passenger
PassengerAppRoot /home3/nurufoun/backend
PassengerStartupFile src/app.js
PassengerAppType node
PassengerEnabled on
PassengerAppLogFile /home3/nurufoun/logs/passenger.log

RewriteEngine On
RewriteBase /
RewriteRule ^index\.js$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ - [L]

# Proxy API requests to Node.js backend on port 5000
RewriteRule ^api/(.*)$ http://127.0.0.1:5000/api/$1 [P,L]
RewriteRule ^api$ http://127.0.0.1:5000/api [P,L]