# 1. Initialize Passenger
PassengerAppRoot /home3/nurufoun/backend
PassengerStartupFile src/app.js
PassengerAppType node
PassengerEnabled on
PassengerAppLogFile /home3/nurufoun/logs/passenger.log

RewriteEngine On
RewriteBase /
RewriteRule ^index\.js$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ - [L]